<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Aventyr</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="../scripts/app.js"></script>

</head>
<body>
  <nav class= "valign-wrapper grey lighten-2">
    <a href="/"><img src="/images/aventyr.png" id="logo"></a>
    <div>
        <% if(!user) { %>
          <a href="/signup">Sign up</a>
          <a href="/login" class="btn teal lighten-3">Log In</a>
          <a href="/api/destinations">Destinations</a>

        <% } else { %>
          <a href="/api/cards/create"><i class="fas fa-pencil-alt"></i></a>
          <a href=""><%= user.username %></a>
          <a href="/logout" class="btn teal lighten-3">Log Out</a>
          <a href="/api/destinations">Destinations</a>

        <% } %>
        </div>
      </nav>

  <div id="target" class="row">
    <img class="dest-show-image" src="<%= destination.image %>">
    <% for (let card of cards) { %>
      <div class="destination card-panel col s3 card">
        <img class="cards-image" src="<%=card.image%>">
        <p class="center-align"><%= card.title %></p>
        <p><%= card.description %></p>
        <p>Rating: <%= card.rating %></p>
        <p>Posted by: <%= card.user.username %></p>
      </div>
    <% } %>

  </div>

  </div>

</body>
</html>
